* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: fit-content;
    width: 52vw;
    margin: 15px auto 0;
    font-family: 'Courier New', Courier, monospace;
}

.credit-card {
    width: calc(50% - 20px);
     height: fit-content;
    border-radius: 10px;
    margin: 10px;
    float: left;
    position: relative;
}

#card1 {
    background-color: rgb(156, 29, 175);
}

#card2 {
    background-color: rgb(31, 167, 31);
}

#card3 {
    background-color: rgb(18, 103, 189);

}

#card4 {
    background-color: black;
}

.card-container{
    position: absolute;
    transform: scale(0.6) ;
    margin-left: -10px;
    left: 0;
    top: 3px;
}
.information
{
    color:white;
    padding: 18px;
}

#card-num{
    font-size: 25px;
}
#card-name{
    font-family: monospace;
    font-size: 21px;
    font-weight: 600;
}
#valid, #date{
    font-family:'Tahoma', sans-serif;
}
#valid{
    font-size: x-small;
}